<!DOCTYPE html>
<div class="light-nav popup-margin popup-padding centre rounded no-select" id="-consent-popup">
    This site uses cookies, press configure for more information or to select cookies to load
    <span class="blue rounded button-padding popup-button-margin button no-select" onclick="acceptAll();">Accept all</span>
    <span class="red rounded button-padding popup-button-margin button no-select" onclick="rejectAll();">Reject all</span>
    <span class="blue rounded button-padding popup-button-margin button no-select">
        <a href="/cookies/" class="light-colour no-decoration">Configure</a>
    </span>
</div>