@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

.no-style {
    list-style-type: none;
}

.no-pad {
    margin: 0;
    padding: 0;
}

.no-decoration {
    text-decoration: none;
}

.block {
    display: block;
}

.nav-pad {
    padding: 14px 16px;
}

.dark-nav{
    background-color: #3c3c3c;
}

.dark-colour {
    color: #ffffff;
}

.light-nav {
    background-color: #00953c;
}

.light-colour {
    color: #000000;
}

.left {
    float: left;
}

.right {
    float: right;
}

.no-overflow {
    overflow: hidden;
}

.noto-font {
    font-family: 'Noto Sans', sans-serif;
}

.light-hover:hover {
    background-color: #00702d;
}

.dark-hover:hover {
    background-color: #2d2d2d;
}

.popup-margin {
    margin: 15px;
}

.popup-padding {
    padding: 15px;
}

.centre {
    text-align: center;
}

.rounded {
    border-radius: 5px;
}

.font-large {
    font-size: large;
}

.light-background {
    background-color: #e5e9f0;
}

.dark-background {
    background-color: #26292f;
}

.height-100 {
    min-height: 100%;
}

.img-pad {
    padding-top: 3px;
    padding-left: 3px;
}

.dark-section {
    background-color: #30343c;
}

.light-section {
    background-color: #d8dee9;
}

.text-large {
    font-size: 2.5em;
}

.text-medium {
    font-size: 1.5em;
}

.no-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}