@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

.no-style {
    list-style-type: none;
}

.no-pad {
    margin: 0;
    padding: 0;
}

.no-decoration {
    text-decoration: none;
}

.block {
    display: block;
}

.nav-pad {
    padding: 14px 16px;
}

.dark-nav{
    background-color: #3c3c3c;
}

.dark-colour {
    color: #ffffff;
}

.light-nav {
    background-color: #00953c;
}

.light-colour {
    color: #000000;
}

.left {
    float: left;
}

.right {
    float: right;
}

.no-overflow {
    overflow: hidden;
}

.noto-font {
    font-family: 'Noto Sans', sans-serif;
}

.light-hover:hover {
    background-color: #00702d;
}

.dark-hover:hover {
    background-color: #2d2d2d;
}

.popup-margin {
    margin: 15px;
}

.popup-padding {
    padding: 15px;
}

.button-padding {
    padding: 5px;
}

.centre {
    text-align: center;
}

.rounded {
    border-radius: 5px;
}

.font-large {
    font-size: large;
}

.light-background {
    background-color: #e5e9f0;
}

.dark-background {
    background-color: #26292f;
}

.height-100 {
    min-height: 100%;
}

.img-pad {
    padding-top: 3px;
    padding-left: 3px;
}

.dark-section {
    background-color: #30343c;
}

.light-section {
    background-color: #d8dee9;
}

.text-large {
    font-size: 2.5em;
}

.text-medium {
    font-size: 1.5em;
}

.no-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.green {
    background-color: #00953c;
}

.red {
    background-color: #ff0000;
}

.button-margin {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
}

.button:hover {
    cursor: pointer;
}

.no-outline {
    outline: none;
    border: 0;
}

.text-normal {
    font-size: 0.5em;
}

.blue {
    background-color: #00a0e9;
}

.popup-button-margin {
    margin-left: 7px;
    margin-right: 7px;
}

.search-size {
    width: 200px;
    height: 30px;
}

.button-size {
    width: 35px;
    height: 35px;
}

.dark-link {
    color: #88c0d0;
}

.dark-link:visited {
    color: #81a1c1;
}

.tag-margin {
    margin: 5px;
}

.inline {
    display: inline;
}

.inline-block {
    display: inline-block;
}

.light-software:hover {
    background-color: #d0d6e1;
}

.dark-software:hover {
    background-color: #33373e;
}

.img-size {
    width: 100px;
    height: 102px;
}

.table {
    display: table;
}

.table-cell {
    display: table-cell;
}

.width-100 {
    width: 100%;
}

.width-50 {
    width: 50%
}

.top-0 {
    top: 0;
}

.left-0 {
    left: 0;
}

.absolute {
    position: absolute;
}

.align-middle {
    vertical-align: middle;
}

.align-top {
    vertical-align: top;
}

.align-left {
    text-align: left;
}

.left-auto {
    margin-left: auto;
}

.right-auto {
    margin-right: auto;
}

.width-60 {
    width: 60%;
}

.width-40 {
    width: 40%;
}

.width-70 {
    width: 70%;
}

.mono-font {
    font-family: 'JetBrains Mono', monospace;
}

.light-code {
    background-color: #d0d6e1;
}

.dark-code {
    background-color: #33373e;
}

.code-pad {
    padding: 2px;
}

.italic {
    font-style: italic;
}

.half-img {
    width: 50px;
    height: 51px;
}

.yt-frame-size {
    width: 325px;
    height: 240px;
}