<!DOCTYPE html>
<html class="no-pad height-100">
    <head>
        <meta charset="UTF-8">
        <meta viewport="width=device-width, initial-scale=1.0">
        <meta name="description" content="EmeraldThunder's blog, check for updates and read tech tips">
        <title>Blog - EmeraldThunder</title>

        <link rel="stylesheet" href="../static/css/index.css" type="text/css">
        <link rel="shortcut icon" href="../static/images/logo.png">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    </head>
    <body class="no-pad noto-font height-100 light-background light-colour" onload="onLoad()">
        {%include "navbar.html"%}
        {%include "popups/noscript.html"%}
        {%include "popups/cookieConsent.html"%}

        <div class="text-large centre popup-margin">EmeraldThunder's Blog</div>
        <div class="centre"><img src="/static/images/logo.png/"></div>

        {%for post in posts%}
        <div class="light-section centre rounded popup-margin popup-padding">
            <span class="text-medium"><a href="post/{{post.url}}" class="no-decoration">{{post.title}}</a></span><br>
            <span class="text-small">
                <i class="bi bi-clock-fill"></i>
                {%if post.read_time < 2%}
                Less than a minute
                {%else%}
                {{post.read_time}} minutes
                {%endif%}
            </span><br>
            <span class="">{{post.sample}}</span>
        </div>
        {%endfor%}

        <script src="../static/js/switchTheme.js"></script>
        <script src="../static/js/cookies.js"></script>
        <script src="../static/js/index.js"></script>
    </body>
</html>