<!DOCTYPE html>
<html lang="en" class="no-pad height-100">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="EmeraldThunder's website, consent page for storing of cookies">
        <title>Cookies - EmeraldThunder</title>

        <link rel="stylesheet" href="/static/css/index.css" type="text/css">
        <link rel="shortcut icon" href="/static/images/logo.png">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    </head>
    <body class="no-pad noto-font height-100 light-colour light-background" onload="onLoad();">
        {%include "navbar.html"%}
        {%include "popups/noscript.html"%}
        
        <div class="centre text-large popup-margin">
            Cookies
        </div>
        <div class="centre popup-margin">
            This site uses cookies to store information relevant to your experience. 
            You have complete control over what we store, however disabling some may break some site features.
        </div>

        <span class="left green rounded button-padding button-margin button no-select" onclick="acceptAll();">Accept all</span>
        <span class="right red rounded button-padding button-margin button no-select" onclick="rejectAll();">Reject all</span>

        <br>

        <form action="" method="post" id="-cookie-form">
            {%for cookie in cookies%}
            <div class="light-section centre rounded popup-margin popup-padding">
                <div class="text-medium">
                    {{cookie['name'].title()}}
                    <input type="checkbox" name="{{cookie['name']}}"><br>
                    <span class="text-normal">(Duration {{cookie['duration']}})</span>
                </div>
                {{cookie['description']}}
            </div>
            {%endfor%}

            <div class="centre">
                <input type="Submit" value="Submit" class="light-colour green no-outline rounded button-padding text-medium button">
            </div>
        </form>

        <script src="/static/js/switchTheme.js"></script>
        <script src="/static/js/cookies.js"></script>
        <script src="/static/js/index.js"></script>
    </body>
</html>