<!DOCTYPE html>
<html lang="en" class="no-pad">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="EmeraldThunder's website, consent page for storing of cookies">
        <title>Cookies - EmeraldThunder</title>

        <link rel="stylesheet" href="../static/css/index.css" type="text/css">
        <link rel="shortcut icon" href="../static/images/logo.png">
    </head>
    <body class="no-pad noto-font" onload="setTheme('light');">
        {%include "navbar.html"%}

        <form>
            
        </form>

        <script src="../static/js/switchTheme.js"></script>
    </body>
</html>