<!DOCTYPE html>
<html lang="en" class="no-pad height-100">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="EmeraldThunder's website, consent page for storing of cookies">
        <title>Cookies - EmeraldThunder</title>

        <link rel="stylesheet" href="../static/css/index.css" type="text/css">
        <link rel="shortcut icon" href="../static/images/logo.png">
    </head>
    <body class="no-pad noto-font height-100 light-colour light-background" onload="setTheme('light');">
        {%include "navbar.html"%}
        
        <div class="centre text-large popup-margin">
            Cookies
        </div>
        <div class="centre popup-margin">
            This site uses cookies to store information relevant to your experience. 
            You have complete control over what we store, however disabling some may break a few unimportant site features.
        </div>

        <form action="" method="post">
            <!--TODO: Jinja cookie template-->
            <div class="light-section centre rounded popup-margin popup-padding">
                Hello World!
            </div>
        </form>

        <script src="../static/js/switchTheme.js"></script>
        <script src="../static/js/cookies.js"></script>
    </body>
</html>