<!DOCTYPE html>
<nav class="no-select">
    <ul class="no-style no-pad light-nav no-overflow">
        <li class="left" title="Home"><a href="/"><img src="../../../static/images/logo.png" width="42" height="42" class="img-pad"></a></li>
        <li class="left light-hover"><a href="/" class="block nav-pad light-colour no-decoration">Home</a></li>
        <li class="left light-hover"><a href="/software" class="block nav-pad light-colour no-decoration">Software</a></li>
        <li class="left light-hover"><a href="/blog/" class="block nav-pad light-colour no-decoration">Blog</a></li>
        <li class="right light-hover" id="-theme-light" title="Switch to light theme"><a href="javascript:setTheme('light')" class="block nav-pad light-colour no-decoration">
            <!--Bootstrap icons-->
            <i class="bi bi-brightness-high-fill"></i>
        </a></li>
        <li class="right light-hover" id="-theme-dark" title="Switch to dark theme"><a href="javascript:setTheme('dark')" class="block nav-pad light-colour no-decoration">
            <!--Bootstrap icons-->
            <i class="bi bi-moon-fill"></i>
        </a></li>
        <li class="right light-hover" title="Cookie settings"><a href="/cookies/" class="block nav-pad light-colour no-decoration">
            <!--Bootstrap icons-->
            <i class="bi bi-gear-fill"></i>
        </a></li>
    </ul>
</nav>