<!DOCTYPE html>
<html lang="en" class="no-pad height-100">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="EmeraldThunder's website, download my various pieces of software">
        <title>Software - EmeraldThunder</title>

        <link rel="stylesheet" href="/static/css/index.css" type="text/css">
        <link rel="shortcut icon" href="/static/images/logo.png">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    </head>
    <body class="no-pad noto-font height-100 light-colour light-background" onload="onLoad();">
        {%include "navbar.html"%}
        {%include "popups/noscript.html"%}
        {%include "popups/cookieConsent.html"%}

        <div class="text-large centre popup-margin">
            Software
        </div>
        <div class="centre popup-margin">
            Download the various pieces of software I have made.
        </div>

        <div class="centre popup-margin">
            <form action="" method="post">
                <input type="text" name="search" placeholder="Search..." class="search-size">
                <button type="submit" class="button-size light-section no-outline rounded light-colour button">
                    <i class="bi bi-search"></i>
                </button>
            </form>
        </div>

        {%if software|length == 0%}
        <div class="light-section centre rounded popup-margin popup-padding">
            No software found.
        </div>
        {%endif%}
        {%for download in software%}
        <a href="{{download.url}}" class="light-colour">
            <div class="centre nav-pad rounded light-section popup-margin popup-padding no-select light-software">
                <table class="inline-block">
                    <tr>
                        <td>
                           <img src="{%if download.icon%}{{download.icon}}{%else%}/static/images/logo.png{%endif%}" class="img-size"> 
                        </td>
                        <td>
                            <span class="text-medium">
                                {{download.name}}
                            </span><br>
                            <span class="inline-block">
                                {{download.description}}
                            </span>
                        </td>
                    </tr>
                </table>
            </div>
        </a>
        {%endfor%}
        

        <script src="/static/js/index.js"></script>
        <script src="/static/js/cookies.js"></script>
        <script src="/static/js/switchTheme.js"></script>
    </body>
</html>